html,
body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
$link: #63fc68;
body {
  background-color: #022647;
}

#background-color {
  color: #022647;
}

container-lg {
  scroll-snap-type: y mandatory;
}

.scroll-area {
  scroll-snap-align: start;
}
* {
  font-family: "Basic Sans";
  font-style: normal;
  color: #ffffff;
}

.navbar a {
  color: white;
}

.top-section {
  background: linear-gradient(180deg, #011b32 0%, #022647 100%);
  height: 100vh;
  padding-bottom: 10em;
}

.hero {
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
}

.hero-secondary {
  font-weight: 250;
  font-size: 40px;
  line-height: 48px;
}

.call-to-action {
  font-weight: 600;
  font-size: 24.1773px;
  color: #011b32;
  margin: 0;
}

.call-to-action-white {
  font-weight: 100;
  font-size: 24.1773px;
  color: white;
  margin: 0;
}

.top-image-container {
  position: relative;
  justify-content: center;
}

#laith-photo {
  z-index: 1;
}

#blurry-circle-front {
  position: absolute;
  left: -90px;
  top: 100px;
}

#blurry-circle-backgorund {
  position: absolute;
  z-index: 0;
  left: 300px;
}

#computer-man {
  position: absolute;
  z-index: 0;
  left: -200px;
  bottom: -200px;
}

.btn {
  border-radius: 9.28779px;
}

.btn-secondary-mine {
  background-color: Transparent;
  border: 3.441px solid #ffffff;
  border-radius: 7px;
}

#profit-maximzer {
  background-color: #8ecae6;
}

#gas-thrifter {
  background-color: #022647;
}

#space-invaderz {
  background-color: #0e0e39;

  h1,
  p {
    color: #0e0e39;
  }
}

.portfolio-desc {
  h1 {
    padding: 0 calc(1.5em) 0 0;
  }

  background-color: white;
  border-radius: 18.6396px;
  padding: 0 calc(1em) 0 calc(1em);
}

.portfolio-desc p {
  color: #011b32;
}

.project-title {
  font-weight: 700;
  font-size: 41.95px;
  line-height: 50px;
  text-align: center;

  color: #023047;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  width: 80vw;
  height: calc(50vh);
}

#profit-row {
  margin-top: 500px;
}

#profit-photo {
  position: absolute;
  left: calc(50vw);
  top: calc(12vh);
  max-height: 50vh;
  filter: drop-shadow(3.72792px 2.98233px 29.0777px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.44));
}

.padding-maker #first-row {
  padding-top: calc(25vh);
}

.scroll-align {
  scroll-snap-align: start;
}

.blog {
  img {
    height: calc(50vw);
    max-width: calc(1280 / 2);
  }

  .pt-5 {
  }
}

.space-maker {
  min-height: 100px;
}
#also {
  font-weight: 700;
  font-size: 51.9074px;
}
#run {
  font-weight: 300;
  font-size: 27.212px;
}

// https://codepen.io/markmead/pen/drORWG

.fancy-link {
  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    color: inherit;
  }
  a {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: $link;
    &::after {
      content: "";
      background: rgba($link, 0.25);
      position: absolute;
      left: 12px;
      bottom: -6px;
      width: calc(100% - 8px);
      height: calc(30%);
      z-index: -1;
      transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
    }
    &:hover:after {
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 100%;
    }
  }
}



.bg-color {
  color: #022647; 
}

#review-header {
  justify-items: left;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #022647;
}

